body,
html {
  margin: 0;
  height: 100%;
}

#auth-nav-brand {
  border-radius: 5px;
  padding-right: 1%;
  font-weight: bold;
  font-size: 2em;
  margin-left: 0;
  text-decoration: none;
  color: #3366ff !important;
}
.auth-nav-background{
  background-color: black;
}

#authNav-search-button {
  background-color: #1dbf73;
  color: white;
}

#authNav-search-button:hover {
  border: 1px solid green;
}

.dropdown-toggle {
  margin-right: 3em;
}

.auth-nav-left-links {
  margin-left: 10px;
}

.auth-nav-right-links {
  right: 0;
}

.auth-nav-right-links a {
  color: #ffffff !important;
}

.auth-nav-right-links a:hover {
  color: rgb(242, 76, 195) !important;
}

.dropdown-toggle {
  cursor: pointer;
}

.auth_nav_side_menu {
  display: none;
  position: absolute;
  right: 5em;
  width: 100px;
  height: 50px;

}

.auth_nav_side_menu button {
  width: 100px;
  height: 25px;
  background-color: #fff4f4(224, 90, 90);
  border: 1px solid transparent;
  color: rgb(0, 0, 0);
}

.auth_nav_side_menu button:hover {
  font-weight: bold;
  color:  rgb(242, 76, 195);
}

.auth_nav_side_menu a {
  color: rgb(216, 35, 35);
  font-size: 15px;
  
}

.dropdown-toggle:hover .auth_nav_side_menu {
  display: block;
 
}
